raven
raven-aiohttp
osuapi
pytz
parsedatetime

isodate
youtube_dl
BeautifulSoup4
lxml
python-dateutil
psutil
timeago

feedparser
lxml
chardet

docutils
future
lockfile
pip

setuptools
six
termcolor
git+https://github.com/Rapptz/discord.py@rewrite
git+https://github.com/lucascluk/League.py
PyNaCl
ujson

